extends layout
block content
  div.hero
    div.hero-body.is-medium.has-text-centered
      h1.title.is-4 Which genres appeal you?
      div.columns.is-multiline.is-centered.is-mobile  
        each genre in genres
          a(href="/api/movies/"+genre._id)
            div.column(style={'padding': '3px'})
              figure.image.is-128x128(style={'padding': '15px'})
                img.is-rounded(src="https://bulma.io/images/placeholders/128x128.png", style="margin: 1px;")
                p.heading.is-5= genre.name
      a(href="/api/movies")
        h1.title.is-5 I wanna see all movies!