extends layout
block content
  div.hero-body
    div.container.has-text-centered
      h1.title.is-3.is-spaced NEED SOLUTION FOR MOVIE RENTAL SERVICES?
      h2.subtitle.is-3 CHECK OUT
      img(src="/images/main-logo.png", alt="Logo", style="max-width:350px;")