extends layout
block navigation
  div.navbar-menu(id="navbarMenuHeroA")
              div.navbar-end
                a.navbar-item(href="/") Home
                a.navbar-item Explore
                a.navbar-item.is-active(id="logged", alt="logged in")= username
                span.navbar-item
                  a.button.is-primary.is-inverted(href="https://github.com/TheAfanasevo", target="_blank")
                    span.icon
                      i.fab.fa-github
                    span Developer
block content
  div.hero-body
    div.container.has-text-centered
      h2.subtitle.is-3= username
      h2.subtitle.is-3 Welcome to
      img(src="/images/main-logo.png", alt="Logo", style="max-width:350px;")